body{
    font-size: 16px;
    background: #fff;
    position:relative;
}
/*================================
表单 表格整体部分
==================================*/ 
.content{
	padding:10px 10px 0;
	min-width:1120px;
    overflow: auto;
}
/*================================
表头部分
 */ 
.content>span{
    display: inline-block;
    width: 150px;
    padding: 3px 0px 5px 12px;
    font-size: 20px;
    border-bottom: 2px solid rgb(63,185,191);
}

.content>p,.ZDYBT{
    margin-top: 10px;
}
.content>p>span,.ZDYBT{
    color: rgb(63,185,191);
    cursor: pointer;
}
/*===============================
查询表单部分
*/
.searchForm{
    height: 160px;
    border: 1px solid #DEDEDF;
    margin-bottom:15px;
    background: #fff;
}
.searchForm .layui-form-label{
    margin-left: 3%;
    padding: 9px 1%;
}

.searchFormTop,.searchFormMiddle{
    width: 100%;
    height: 48px;
    padding-top: 10px;
}
.searchFormTop .layui-input-inline,.searchFormMiddle .layui-input-inline{
    width: 20%;
}
/*===============================
重置 查询按钮
*/ 
.searchFormBtn{
    height: 35px;
    line-height: 35px;
    float: right;
    margin-right: 45px;
    width: 80px;
    border-radius: 8px;
}
/*===============================
投诉信息查询结果表格
*/
.layui-table thead tr th,
.layui-table tbody tr td{
	word-break:break-all;
    text-align: center;
    padding:10px 5px;
}
.layui-table tbody tr td{
    font-size: 16px;
    color: rgb(102,101,101);
    font-weight: 500;
}
.layui-table thead tr th{
    padding:0;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
}
.tsTable{
    margin: 0;
    height: auto;
    overflow: hidden;
    border: 2px solid #DEDEDF;
    border-bottom-width: 1px;
}
.tsTable thead tr{
    background: none;
    border-bottom: 2px solid rgb(63,185,191);
}
.tsTable thead tr th:first-child{
	padding:0 10px;
	min-width: 32px;
}
.tsTable tbody tr td{
	font-size:14px;
}
/*============================
处理按钮
 */ 
.tsTable tbody tr td .doBtn{
    height: 35px;
    line-height: 35px;
    width: 80px;
    border-radius: 8px;
}
/*============================
分页器
 */ 
.pager{
    display: block;
    float: right;
}
/*============================
处理 弹出层内容样式
==============================*/
body .CLYM-style .layui-layer-title{
    color: #f8f8f8;
    background-color: #009688;
}